﻿@{
    ViewData["Title"] = "Login Page";
}

<form method="post">
    <div class="text-center">
        <h3>ACCOUNT LOGIN</h3>
        <p>
            <input type="text" name="username" placeholder="Username"/>
        </p>
        <p>
            <input type="password" name="password" placeholder="Password"/>
        </p>
        <p>
            <input type="submit" value="Login" />
        </p>
    </div>
</form>